<%- include('include/head')  %>

  <!-- END nav -->
  
  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('images/CDC1.JPG');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h2 class="heading mb-5">How It Works</h2>
              <p style="display: inline-block;"><a href="https://vimeo.com/channels/staffpicks/93951774"  data-fancybox class="ftco-play-video d-flex"><span class="play-icon-wrap align-self-center mr-4"><span class="ion-ios-play"></span></span> <span class="align-self-center">How It Works</span></a></
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section">
    <div class="container">
      <div class="row align-items-center mb-5">

        <div class="col-md-7 order-md-2 mb-5 mb-md-0">
          <img src="images/cloth2.JPG" alt="" class="img-fluid"> <br>
          <img src="images/abtus.JPG" alt="" style="margin-top: 15px; height:300px; width:700px;" class="img-fluid ">

        </div>

        <div class="col-md-5 pr-md-5 mb-5 order-md-1">
          <div class="block-41">
            <div class="block-41-subheading d-flex">
              <!-- <div class="block-41-number">Step 01</div> -->
            </div>
            <h2 class="block-41-heading mb-3">Bringing Warmth and Dignity: Annual Clothes Donation Camp
            </h2>
            <div class="block-41-text">
              <p style="font-weight:300">At <span style="font-weight:800">SUNdigo</span> <span style="font-weight: 800;"> Sewa Samiti's </span>our mission is to uplift those in need through acts of kindness and solidarity. Every year, as part of our Corporate Social Responsibility (CSR) initiative, we organize an Annual Clothes Donation Camp. This event aims to provide essential clothing to underserved communities, ensuring everyone has access to the basic necessity of adequate attire. By coming together, we can make a profound difference in the lives of those in need. Join us in our mission to provide warmth, dignity, and hope through your generous clothing donations. Your support matters!</p>
            </div>
          </div>
        </div>
        
      </div> <!-- .row -->

      <div class="row align-items-center mb-5">
        <div class="col-md-7 mb-5 mb-md-0">
          <img src="images/blood.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-md-5 pl-md-5 mb-5">
          <div class="block-41">
            <div class="block-41-subheading d-flex">
              <!-- <div class="block-41-number">Step 02</div> -->
            </div>
            <h2 class="block-41-heading mb-3">Annual Blood Donation Camp</h2>
            <div class="block-41-text">
              <p>At <span style="font-weight:800">SUNdigo</span> <span style="font-weight: 800;"> Sewa Samiti's </span>, we believe in the power of community and the impact of giving back. Every year, as part of our Corporate Social Responsibility (CSR) initiatives, we organize an Annual Blood Donation Camp. This event is a testament to our commitment to making a positive difference in society and providing a lifeline to those in need. By donating blood, you are making a significant difference in the lives of those in need. Join us in our mission to save lives, one donation at a time.</p>
            </div>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="row align-items-center mb-5">

        <div class="col-md-7 order-md-2 mb-5 mb-md-0">
          <img src="images/CSR.JPG" alt="" class="img-fluid">
        </div>

        <div class="col-md-5 pr-md-5 mb-5 order-md-1">
          <div class="block-41">
            <div class="block-41-subheading d-flex">
              <!-- <div class="block-41-number">Step 01</div> -->
            </div>
            <h2 class="block-41-heading mb-3">Corporate Social Responsibility (CSR) Activities: Summer Refreshment Drive</h2>
            <div class="block-41-text">
              <p style="font-weight:300">At <span style="font-weight:800">SUNdigo</span> <span style="font-weight: 800;"> Sewa Samiti </span>we believe in giving back to the communities we serve. Our Corporate Social Responsibility (CSR) initiatives are designed to make a meaningful impact, especially during challenging times. One of our key projects is the Summer Refreshment Drive. Summer can be a tough time for many, particularly for those who have to spend long hours outdoors. To help alleviate the discomfort and risks associated with extreme heat, we organize an annual Summer Refreshment Drive. This initiative is focused on providing essential items to help people stay cool and refreshed.
                <br>
<!-- 
                1.	Refreshments and Hydration: <br>
                •	Cold bottled water <br>
                •	Fresh fruit juices <br>
                •	Electrolyte drinks <br>
                2.	Nutritious Food: <br>
                •	Fresh fruits and vegetables <br>
                •	Healthy snacks <br>
                •	Light, nourishing meals <br>
                3.	Comfort Items: <br>
                •	Cooling towels <br>
                •	Hand fans <br> -->

              </p>
            </div>
          </div>
        </div>
        
      </div>

      <div class="row align-items-center mb-5">
        <div class="col-md-7 mt-5 mb-5 mb-md-0">
          <img src="images/pizza.jpg" alt="" class="img-fluid">
          <img src="images/pizza2.jpg" alt="" style="margin-top: 15px; height:300px; width:700px;" class="img-fluid">

        </div>

        <div class="col-md-5 pl-md-5 mb-5">
          <div class="block-41">
            <div class="block-41-subheading d-flex">
              <!-- <div class="block-41-number">Step 02</div> -->
            </div>
            <h2 class="block-41-heading mb-3">Corporate Social Responsibility (CSR) Activities: Education Support and Pizza Party for Slum Children</h2>
            <div class="block-41-text">
              <p>At <span style="font-weight:800">SUNdigo</span> <span style="font-weight: 800;"> Sewa Samiti's </span>,  we are dedicated to making a positive impact on the lives of underprivileged children. Our Corporate Social Responsibility (CSR) initiatives focus on supporting education and spreading joy in underserved communities. One of our cherished projects is the distribution of study materials and hosting pizza parties for slum children.Education is a cornerstone for a brighter future, and every child deserves the chance to learn and grow. <br>However, many children in slum areas lack the basic supplies needed for their education. To address this, we provide essential study materials to these children. To add a touch of joy and celebration, we also organize pizza parties, creating memorable experiences for them.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-5">

        <div class="col-md-7 order-md-2 mb-5 mb-md-0">
          <img src="images/plant6.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-md-5 pr-md-5 mb-5 order-md-1">
          <div class="block-41">
            <div class="block-41-subheading d-flex">
              <!-- <div class="block-41-number">Step 01</div> -->
            </div>
            <h2 class="block-41-heading mb-3">"Greening Our Future: Join Our Tree Plantation Drive"</h2>
            <div class="block-41-text">
              <p style="font-weight:300">At <span style="font-weight:800">SUNdigo</span> <span style="font-weight: 800;"> Sewa Samiti </span>, Our company is committed to environmental sustainability through our Corporate Social Responsibility (CSR) activities. One of our key initiatives is tree plantation. By planting trees, we aim to reduce our carbon footprint, combat climate change, and enhance biodiversity. We collaborate with environmental organizations to ensure the proper care and growth of the saplings. This initiative not only improves the environment but also raises awareness about the importance of trees among our employees and the community. Together, we strive to create a greener and healthier planet for future generations..
                <br>
              </p>
            </div>
          </div>
        </div>
        
      </div>




    </div>
  </div>

  

  <!-- <div class="site-section fund-raisers">
    <div class="container">
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Latest Donations</h2>
          <p class="lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="mb-5"><a href="#" class="link-underline">View All Donations</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Jorge Smith</h2>
              <span class="time d-block mb-3">Donated Just now</span>
              <p>Donated <span class="text-success">$252</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Water Is Life. Clean Water In Urban Area</a></p>
            </div>
          </div>    
        </div>

        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_2.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Christine Charles</h2>
              <span class="time d-block mb-3">Donated 1 hour ago</span>
              <p>Donated <span class="text-success">$400</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Children Needs Education</a></p>
            </div>
          </div>    
        </div>

        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_3.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Albert Sluyter</h2>
              <span class="time d-block mb-3">Donated 4 hours ago</span>
              <p>Donated <span class="text-success">$1,200</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Need Shelter for Children in Africa</a></p>
            </div>
          </div>    
        </div>

        <div class="col-md-6 col-lg-3 mb-5">
          <div class="person-donate text-center">
            <img src="images/person_4.jpg" alt="Image placeholder" class="img-fluid">
            <div class="donate-info">
              <h2>Andrew Holloway</h2>
              <span class="time d-block mb-3">Donated 9 hours ago</span>
              <p>Donated <span class="text-success">$100</span> <br> <em>for</em> <a href="#" class="link-underline fundraise-item">Water Is Life. Clean Water In Urban Area</a></p>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div> .section -->

  <!-- <div class="featured-section overlay-color-2" style="background-image: url('images/bg_2.jpg');">
    
    <div class="container">
      <div class="row">

        <div class="col-md-6 mb-5 mb-md-0">
          <img src="images/bg_2.jpg" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">

          <div class="form-volunteer">
            
            <h2>Be A Volunteer Today</h2>
            <form action="#" method="post">
              <div class="form-group">
                <label for="name">Name</label> -->
                <!-- <input type="text" class="form-control py-2" id="name" placeholder="Enter your name">
              </div> -->
              <!-- <div class="form-group"> -->
                <!-- <label for="email">Email</label> -->
                <!-- <input type="text" class="form-control py-2" id="email" placeholder="Enter your email"> -->
              <!-- </div> -->
              <!-- <div class="form-group"> -->
                <!-- <label for="v_message">Email</label> -->
                <!-- <textarea name="v_message" id="" cols="30" rows="3" class="form-control py-2" placeholder="Write your message"></textarea> -->
                <!-- <input type="text" class="form-control py-2" id="email"> -->
              <!-- </div>
              <div class="form-group">
                <input type="submit" class="btn btn-white px-5 py-2" value="Send">
              </div>
            </form>
          </div>
        </div>
        
      </div> -->
    <!-- </div> -->

  <!-- </div> .featured-donate -->

 <%- include('include/footer')  %>
  